@{
    Layout = "../Shared/_SecurityLayout.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-5 col-lg-8 col-md-offset-2">
    <div class="well no-padding">
        <div class="jumbotron">
            <h1>Contraseña reseteada</h1>
            <p>
                Su contraseña ha sido reseteada y enviada a su casilla de correo. Pude modificarla una vez que ingrese al sistema.
            </p>
            <p>
                @Html.ActionLink("Volver a Login", "Login", null,  new { Class = "btn btn-primary btn-lg" })
            </p>
        </div>
    </div>
</div>
