@{
    Layout = null;
}

<section id="widget-grid" class="">
    @*<article class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
        <div class="jarviswidget" id="wid-id-23" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                <h2>Filtros de búsqueda</h2>
            </header>
            <div>
                <div class="widget-body">
                    <form class="form-horizontal" novalidate="novalidate" role="form">
                        <fieldset>
                            <div class="form-group col col-5">
                                <label for="denominacion" class="col-md-2 control-label">Denominación</label>
                                <div class="col-md-3">
                                    <input class="form-control default-control" type="text" name="denominacion" ng-model="filter.denominacion">
                                </div>                               
                            </div>
                            <div class="form-group col col-5">
                                <label for="direccionPrincipal" class="col-md-2 control-label">Dirección principal</label>
                                <div class="col-md-3">
                                    <input class="form-control default-control" type="text" name="direccionPrincipal" ng-model="filter.direccionPrincipal">
                                </div>
                                <label for="contactoReferencia" class="col-md-2 control-label">Contacto de referencia</label>
                                <div class="col-md-3">
                                    <input class="form-control default-control" type="text" name="contactoReferencia" ng-model="filter.contactoReferencia">
                                </div>
                            </div>                          
                        </fieldset>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default" ng-click="cleanFilter()">
                                        Limpiar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>*@

    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-12 text-right">
                <a href="javascript:void(0);" class="btn btn-primary" ng-click="create()">Nuevo</a>
            </div>
        </div>
        <br />
        <div class="jarviswidget" id="wid-id-123" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
            <header>
                <h2>Venues</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="input-group" style="margin: 0  14px 13px;">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" placeholder="" type="text" aria-controls="dt_basic" ng-model="filter.value">
                        </div>
                    </div>
                    <div class="gridStyleDefault" ng-grid="gridOptions"></div>
                </div>
            </div>
        </div>
    </article>
</section>

