
<div class="btn-group" style="padding: 2px 0 0 5px;">
    <button type="button" title="Editar" class="btn btn-default" ng-click="edit(row.entity.id)" style="padding: 2px 5px;">
        <i class="fa fa-edit"></i>        
    </button>
</div>
